body{
    background-color: aqua;
}

h1{
    /*Definindo cores pelo Nome*/
    color: black;

    /*background-color: grey;*/
    margin-top: 100px;
}

#subtitulo{
    /*color: black;*/
    /*Definindo cores pelo RGB*/
    color: rgb(0, 0, 0);
}

.roxo{
    /*color: purple;*/
    /*Definindo cores pelo codigo hexadecmal*/
    color: #900;
}

#area-principal{    
    /*color: orangered;*/
    /*Definindo cores */
    color: rgba(255, 228, 196, 0.5);
}